:root {
  --color-background: #333;
  --color-font: whitesmoke;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: inherit;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.navbar {
  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
  /* general */
  background-color: var(--color-background);
  color: var(--color-font);
  /* font */
  font-size: 3rem;
  margin-bottom: 1.5rem;
  height: 10rem;
  text-align: center;
}
.main-section {
  flex: 1;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-background);
  color: var(--color-font);

  height: 10rem;
  font-size: 3rem;
}
