:root {
  --color-background: #333;
  --color-font: whitesmoke;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: inherit;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  color: var(--color-font);

  padding: 1rem 0;
}
.header__logo {
  width: 10rem;
  height: 10rem;
}
.header__title {
  font-size: 5rem;
  margin-left: 5rem;
}
